.adsense_skyscraper_horizontal{

        width: 728px;
        height: 90px;
        color: white;
        background-color: black;
}

.adsense_banner{

        width: 480px;
        height: 60px;
        color: white;
        background-color: black;
}

.adsense_medio_banner{

        width: 234px;
        height: 60px;
        color: white;
        background-color: black;
}

.adsense_skyscraper{

        width: 120px;
        height: 600px;
        color: white;
        background-color: black;
}

.adsense_skyscraper_ancho{

        width: 160px;
        height: 600px;
        color: white;
        background-color: black;
}

.adsense_banner_vertical{

        width: 120px;
        height: 240px;
        color: white;
        background-color: black;
}

.adsense_rectangulo_integrado_grande{

        width: 336px;
        height: 280px;
        color: white;
        background-color: black;
}

.adsense_rectangulo_mediano{

        width: 300px;
        height: 250px;
        color: white;
        background-color: black;
}

.adsense_cuadro_integrado{

        width: 250px;
        height: 250x;
        color: white;
        background-color: black;
}

.adsense_recuadro_pequeno{

        width: 200px;
        height: 200px;
        color: white;
        background-color: black;
}


.adsense_rectangulo_integrado{

        width: 180px;
        height: 150px;
        color: white;
        background-color: black;
}

.adsense_boton{

        width: 125px;
        height: 125px;
        color: white;
        background-color: black;
}

